name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  qa-checks:
    name: QA Checks
    uses: ./.github/workflows/qa-checks.yml

  build:
    name: Build
    uses: ./.github/workflows/container.yml
    permissions:
      contents: read
      packages: write
    with:
      version: pr-${{ github.event.pull_request.number }}-${{ github.event.pull_request.head.sha }}
